*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

:root{
    font-size: 62.5%;
}

body{
    font-size: 1.6rem;
    overflow: hidden;
}

#vanta{
    z-index: 0;
    position: absolute;
    width: 100vw;
    height: 100rem;
    left: 0;
    right: 0;
    top: 0;
}
main{
    animation: transitionIn 2.5s;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

header{
    margin-bottom: 2rem;
    text-align: center;
    position: relative;
}
#wnnlogo{
    width: 6rem;
}
#wnnlogo path,polygon{
    fill: white;
}
header h1{
    background-color: black;
    border-radius: 10rem;
    width: 12rem;
    font-size: 2rem;
    padding: .5rem;
    border: 0.2rem solid #FFFa;
}

img{
    width: 12rem;
    border-radius: 100%;
    margin-top: 6rem;
    margin-bottom: 1.6rem;
    border: 0.3rem solid #fffa;
}

svg{
    width: 2.4rem;
}

ul li a{
    color: black;
    font-size: 1.8rem;
    line-height: 100%;
    font-weight: 400;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .8rem;
}

ul{
    list-style: none;
    margin: 0 auto;
    padding: 2rem;
}

ul li{
    background-color: #fffa;
    backdrop-filter: blur(10px) saturate(160%) contrast(180%);
    -webkit-backdrop-filter: blur(10px) saturate(160%) contrast(180%);
    border-radius: 10rem;
    padding: 1rem;
    margin-block: 1.4rem;
    width: 18rem;
}

@keyframes transitionIn{
    from{
        opacity: 0;
        transform: rotateX(-10deg);
    }
    to{
        opacity: 1;
        transform: rotate(0);
    }
}